<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MatListan Watch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MatListan Watch (Glance).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MatListan Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MatListan Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MatListan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MatlistanShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9232F5511D2E86DA00574957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A31B50C219156B51005851CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A31B50E619156B51005851CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C061E4ED1C1EF79100E5C59A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4908221C75222C005F5726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
